[submodule "app/Plugin/Recaptcha"]
	path = app/Plugin/Recaptcha
	url = https://github.com/lamanabie/cakephp-recaptcha.git
[submodule "app/Plugin/PreguntaFrecuente"]
	path = app/Plugin/PreguntaFrecuente
	url = https://github.com/tranfuga25s/cakephp-preguntafrecuente.git
